body {
    background: #F0F0F0;
}

.shadow{
    box-shadow:rgb(0,0,0,0.294) 0 0 7px -2px;
}

#logo {
    color: black;
    font-weight: 500;
    font-family: Radikal;
    font-size: 1.5rem;
}

#content{
margin-top:20px;
}

#cards{
width:100%;
display: block;
margin:auto;
}

#profile{
    padding: 20px;
    border-radius: 10px;
    background:white;
}

#profile > *{
margin: 10px;
}

#profile-picture{
width:80%;
display: block;
margin:auto;
border-radius:100%;
}

#name{
    font-family:Radikal;
    font-weight: 500;
    font-size:1.25rem;
    color:red;
}

#profile>.row>input{
    padding:3px;
}

#md5-encrypt{
    max-width: 65%;
    display: block;
    margin:20px 0;
    border:none;
    color:#2C3E50;
    font-weight: 400;
    font-family: Roboto;
    padding:2px 5px;
    /*border-top:1.5px solid black;*/
    /*box-shadow: 0 -1.5px rgb(0,0,0,0.8) inset;*/
    outline:none;
    background:rgb(0,0,0,0.05);
    border-radius:5px;
}

#md5-encrypt:focus{
    background:rgb(0,0,0,0.05);
    box-shadow: none;
    border:none;
}

#md5-encrypt-submit{
    border: none;
    background:white;
    border:1.5px solid #3498DB;
    display: block;
    margin:20px auto;
    color:#3498DB;
    font-weight: 400;
    outline:none;
    font-family: Radikal;
    border-radius: 5px;
}

#md5-encrypt-submit:hover{
    background:#3498DB;
    color:white;
}

#hash{
    max-width:100%;
    display: block;
    border:none;
    color:#2C3E50;
    font-weight: 400;
    font-family: Roboto;
    padding:2px 5px;
    outline:none;
    background:rgb(0,0,0,0.05);
    border-radius: 20px;
}

#profile>hr{
width:70%;
margin:20px auto;
}

.sm{
    color:rgb(0,0,0,0.5);
}

.sm:hover{
    color:rgb(0,0,0);
}
