body {
	margin:0;
	padding:0;
}

header {
margin:0;
padding:0;
}

#header-background {
    height: 100%;
    width: 100%;
    background-image: url("../pic/vietnam.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.blur {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    position: absolute;
    z-index: -1;
}

header>p.h1 {
    padding-top: 10vh;
    font-family: Radikal;
    color: white;
}

header>p#quote {
    font-family: Roboto;
    font-weight: 300;
    color: white;
    font-size: 1.25rem;
}

@media (max-width: 575.98px) {
    #header>p#quote {
        font-size: 1rem;
    }
}

#profile-picture {
    display: block;
    margin: 20px auto;
    width: 150px;
    opacity: 0.8;
    /*padding:20px;*/
    border-radius: 100%;
    border: 5px solid rgb(0, 0, 0, 0.5);
}

#bio {
    display: block;
    margin: auto;
    width: 80%;
    font-size: 1.25rem;
    color: white;
    font-family: Roboto;
    font-weight: 300;
}

#social-media {
    margin: 25px auto;
    font-size: 1.25rem;
}

#social-media a {
    margin: 0 10px;
    color: rgb(255, 255, 255, 0.6);
    text-decoration: none !important
}

#social-media a:hover {
    color: rgb(255, 255, 255);
}

#more-info-a {
    display: inline-block;
    text-align: center;
    background: none;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 2px;
    border: .5px solid white;;
    color: white;
    text-decoration: none !important;
    padding: 15px 45px;
    transition: all .5s ease;
    margin-bottom:30px;
}

#more-info-a:hover {
    box-shadow: 0px 65px rgb(255, 255, 255, 0.7) inset;
    color: rgb(0, 0, 0, 0.8);
    border-color: rgb(225, 225, 225, 0.7);
}

hr {
    margin: 30px auto;
    width: 180px;
    border: .5px solid white;
    background: white;
    border-radius: 1cm;
}

#get-uid{
    width: 100%;
    height:100vh;
    background-image: url("../pic/jp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index:-2;
}

#get-uid-background{

}

#get-uid>.container>div>.title {
	color: rgb(255,255,255,0.7);
    margin: 0 0 80px 0;
    font-family: product Sans;
    margin: 100px 0;
    text-align:center;
    font-weight: 300;
    /*box-shadow: -2px 0px 0px rgb(255,255,255,0.7);*/
    display: inline-block;
    padding:5px 10px;
    border:1px solid rgb(255,255,255,0.7);
}

#get-uid>.container>.form>input {
    margin: 20px;
    padding: 10px 15px;
    height: 60px;
    width: 40%;
    font-family: roboto;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.6);
    background: none;
    font-size: 1.5rem;
    transition: .3s all;
    font-weight: 300;
    color:rgb(255,255,255,0.6);
}

@media (max-width: 575.98px) {
    #get-uid>.container>div>.title {
        margin: 100px 0 50px 0;
        font-size: 2.25rem;
    }

    #get-uid>.container>.form>input {
        width: 80%;
        margin: 20px auto;
        padding: 5px 10px;
    }

}

#get-uid>.container>.form>input:hover, #get-uid>.container>.form>input:focus{
    box-shadow: none;
    border: none;
    transform: scaleX(1.1);
    background: rgb(0, 0, 0, 0.3);
}

#get-uid>.container>.form>button {
    margin: 40px auto 0 auto;
    padding: 20px;
    width:40%;
    font-family: Roboto;
    border: none;
    font-size: 1.25rem;
    background: white;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .4s all;
}
@media (max-width: 575.98px) {
    #get-uid>.container>.form>button {
        color: #17202A;
        font-size: 1rem;
        width:80%;
    }
}

#get-uid>.container>.form>button:hover {
    transform: scale(1.2);
}
#get-uid>.container>.result{
width:40%;
margin:0 auto 60px auto;
background:rgb(0,0,0,0.7);
padding:10px;
}
#get-uid>.container>.result>p{
color:rgb(255,255,255,0.8);
font-family: Radikal;
font-weight: 400;
margin:0;
}
@media (max-width: 575.98px) {
    #get-uid>.container>.result{
        font-size: 1rem;
        width:80%;
    }
}