@media (min-width: 1200px) {
    .right-border {
        border-right: 2px solid #9f9f9f;
    }
}

.addButton {
    background: transparent;
    font-weight: bold;
    transition: .1s all;
    color: #EE243F;
    border-radius: 50px;
    border: 3px solid #EE243F;
}

.addButton:hover {
    background: #EE243F;
    color: var(--background-color)
}

.addButton:active {
    transform: scale(0.9);
}

@media (min-width: 1199.98px) {
    .itemCol:hover {
        transform: scale(1.05);
        border: none;
        background: var(--background-color);
        box-shadow: 0 0 10px rgb(174, 174, 174);
        border-radius: 20px;
    }
}
