:root {
    --card-header-bg: #f1c722;
    --card-body-bg: white;
    --card-btn-bg: #efc520;
}

body[theme="dark"] {
    --card-body-bg: #262525;
}

.card-header {
    background: var(--card-header-bg);
}

.card-body {
    background: var(--card-body-bg);
    color: var(--text-color);
}

.sub-list>li {
    margin-bottom: .4rem;
    color: var(--card-header-bg);
}

.sub-list>li>span {
    color: var(--text-color);
}

.planBtn {
    background: var(--card-btn-bg) !important;
    color: black !important;
}

input[type="phone"] {
    outline: none !important;
    border: none;
    background: #ebebeb;
}

input[type="submit"] {
    outline: none !important;
    border: none;
    background: var(--footer-sm-bg);
    color: white;
}

input[type="submit"]:hover {
    filter: brightness(0.9);
}

input[type="submit"]:active {
    transform: scale(0.95);
}

@media (min-width: 1200px) {
    .col-12.col-xl.mb-4:nth-child(2n+1) {
        padding-top: 30px;

    }
}